{% extends "base_laeta.html" %}
{% block title %} {{super()}} - Laeta - Adicionar Cliente {% endblock %}
{% block content %}

<div class="container">
<form action="/adicionarCliente" method="post">
  <div class="form-group row">
    <label for="cliente" class="col-sm-2 col-form-label">Nome</label>
    <div class="col-sm-6">
      <input type="text" name = 'nome' class="form-control" id="cliente" placeholder="Nome do Cliente" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="mci" class="col-sm-2 col-form-label">MCI</label>
    <div class="col-sm-4">
      <input type="text" name = 'mci' class="form-control" id="mci" placeholder="MCI" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="contato" class="col-sm-2 col-form-label">Contato</label>
    <div class="col-sm-6">
      <input type="text" name = 'contato' class="form-control" id="contato" placeholder="Nome do responsável" >
    </div>
  </div>
  <div class="form-group row">
    <label for="tel1" class="col-sm-2 col-form-label">Telefone 1</label>
    <div class="col-sm-4">
      <input type="tel" name = 'telefone1' class="form-control" id="tel1" placeholder="Telefone 1" >
    </div>
  </div>
  <div class="form-group row">
    <label for="tel2" class="col-sm-2 col-form-label">Telefone 2</label>
    <div class="col-sm-4">
      <input type="tel" name = 'telefone2' class="form-control" id="tel2" placeholder="Telefone 2" >
    </div>
  </div>
  <div class="form-group row">
    <label for="email1" class="col-sm-2 col-form-label">Email 1</label>
    <div class="col-sm-4">
      <input type="email" name = 'email1' class="form-control" id="email1" placeholder="Email 1" >
    </div>
  </div>
  <div class="form-group row">
    <label for="email2" class="col-sm-2 col-form-label">Email 2</label>
    <div class="col-sm-4">
      <input type="email"  name = 'email2' class="form-control" id="email2" placeholder="Email 2">
    </div>
  </div>
   <div class="form-group row">
    <label for="razao_social" class="col-sm-2 col-form-label">Razão Social</label>
    <div class="col-sm-8">
      <input type="text" name = 'razao_social' class="form-control" id="razao_social" placeholder="Razão Social">
    </div>
  </div>
  <div class="form-group row">
    <label for="endereco" class="col-sm-2 col-form-label">Endereço</label>
    <div class="col-sm-8">
      <input type="text" name = 'endereco' class="form-control" id="endereco" placeholder="Endererço" >
    </div>
  </div>
  <div class="form-group row">
    <label for="equipamentos" class="col-sm-2 col-form-label">Equipamentos</label>
    <div class="col-sm-8">
      <textarea class="form-control" name="equipamentos" id="equipamentos" rows="5"></textarea>
    </div>
  </div>
   <div class="form-group row">
    <button class="btn btn-dark btn-lg btn-block" type="submit" class="col-sm-2 col-form-label">Salvar</button>
  </div>



</form>
</div>
{% endblock %}