{% extends "base_laeta.html" %}
{% block title %} {{super()}} - Laeta - Colaboradores {% endblock %}
{% block content %}

<div id="team-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="main-title">Colaboradores</h3>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/zemar.jfif')}}" class="card-img-top" alt="zemar">
                <div class="card-body">
                  <h5 class="card-title">Zemar</h5>
                  <p class="card-text">Chefe de Laboratório</p>
                    <p class="card-text">Pesquisador</p>
                    <p class="card-text"> <a href="mailto:zmsoares@inmetro.gov.br" target="_blank">Email: zmsoares</a></p>
                    <p class="card-text">Ramal: 9999</p>

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/nelson.jfif')}}" class="card-img-top" alt="Nelson">
                <div class="card-body">
                  <h5 class="card-title">Nelson</h5>
                  <p class="card-text">Sub Chefe de Laboratório</p>
                    <p class="card-text">Pesquisador</p>
                    <p class="card-text"> <a href="mailto:nmsanto@inmetro.gov.br" target="_blank">Email: nmsanto</a></p>
                    <p class="card-text">Ramal: 9999</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/thiago.jfif')}}" class="card-img-top" width="100" alt="Imagem de Perfil 3">
                <div class="card-body">
                  <h5 class="card-title">Thiago</h5>
                    <p class="card-text">Pesquisador</p>
                    <p class="card-text"> <a href="mailto:tbmilhomem@inmetro.gov.br" target="_blank">Email: tbmilhomem</a></p>
                    <p class="card-text">Ramal: 9999</p>
                </div>
              </div>
            </div>
              <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/eduardo.jfif')}}" class="card-img-top" alt="Eduardo">
                <div class="card-body">
                  <h5 class="card-title">Eduardo</h5>
                    <p class="card-text">Técnico</p>
                    <p class="card-text"> <a href="mailto:ebpinto@inmetro.gov.br" target="_blank">Email: ebpinto</a></p>
                    <p class="card-text">Ramal: 9999</p>

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/salatiel.jpg')}}" width="96" height="155" class="card-img-top" alt="Salatiel">
                <div class="card-body">
                  <h5 class="card-title">Salatiel</h5>
                    <p class="card-text">Técnico</p>
                    <p class="card-text"> <a href="mailto:salatiel@inmetro.gov.br" target="_blank">Email: salatiel</a></p>
                    <p class="card-text">Ramal: 9999</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img src="{{ url_for('static', filename='img/isabela.jfif')}}" class="card-img-top" alt="Imagem de Perfil 3">
                <div class="card-body">
                  <h5 class="card-title">Isabela</h5>
                    <p class="card-text">Bolsista - Nível Superior</p>
                    <p class="card-text"> <a href="mailto:isa@inmetro.gov.br" target="_blank">Email: isa</a></p>
                    <p class="card-text">Ramal: 9999</p>
                </div>
              </div>
            </div>
            </div>



        </div>
      </div>

{% endblock %}